/* .circulo-logo{
width:18px!important;
height:18px!important;
border-radius: 18px!important;
background-color: #6d28d9!important;
display: inline-block!important;
margin-left: 2px !important;
padding: 0px!important;
} */
.navbar_fixed{
    position:sticky;
    z-index: 100;
    background-color: #FFFFFF!important;
}
.currentPage {
   color: #0429D0;
}
.circclo-logo{
  max-width: 150px;
  max-height: 150px;
}