@media (max-width: 550px){
    .reward{
        height: 300px;
        width: 300px;
        max-height: 400px!important;
        max-width: 400px!important;
    }
}
.reward{
    height: auto;
    width:auto;
}
/* .reward1{
    height: 100%;
    width:100%;
} */